<div class="container">
    <div class="row">
        <div class="col">
            <img src="img/resident.jpg" alt="resident" class="img-thumbnail rounded-circle" width="200">
            <div class="display-4">Muhammad Daffa Muis</div>
            <p>testinf</p>
        </div>
    </div>
</div>
    


    <!-- <h1>Hello, world!</h1> -->


